<div [ngStyle]="{'display': data.length > 0 ? 'block' : 'none'}" style="width: 100%; overflow-x: scroll;">
  <hr>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
    <h3>Submitted {{dataType|titlecase}}</h3>
  </div>

  <div class="table-responsive">
<!--    <mat-form-field style="width: 98%;">-->
<!--      <mat-label>Search</mat-label>-->
<!--      <input (keyup)="searchChanged($event)" matInput-->
<!--             placeholder="Search">-->
<!--    </mat-form-field>-->


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="vertical-form-field">
        <div class="label">Source</div>
        <div>

          <mat-form-field style="width: 60%;">
            <mat-label>Search</mat-label>
            <input [formControl]="accessionFilter" matInput
                   placeholder="Search">
          </mat-form-field>

<!--          <mat-form-field appearance="fill" class="no-label-field">-->
<!--            <mat-select [formControl]="accessionFilter">-->
<!--              <mat-option value="">&#45;&#45; Select an Accession &#45;&#45;</mat-option>-->
<!--              <mat-option  value="ERX10623998">ERX10623998</mat-option>-->
<!--              <mat-option  value="ERX10623999">ERX10623999</mat-option>-->
<!--              <mat-option  value="ERX10624000">ERX10624000</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
        </div>
      </div>

      <div class="vertical-form-field">
        <div class="label">Source</div>
        <div>
          <mat-form-field appearance="fill" class="no-label-field">
            <mat-select [formControl]="sourceFilter">
              <mat-option value="">-- Select a Source --</mat-option>
              <mat-option  value="true">Available</mat-option>
              <mat-option  value="false">Not Available</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div>
        <button mat-raised-button color="primary" (click)="clearFilter()">Clear Filter</button>
      </div>
    </mat-expansion-panel>

    <div>
      <table mat-table matSort matSortDisableClear
             [dataSource]="dataSource.data.length > 0 ? dataSource : emptyData"
             table-striped style="width: 100%">
        <ng-container [matColumnDef]=col *ngFor="let col of displayedColumns; let i = index">
          <ng-container>
            <th mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>
              {{col.split('_').join(' ')|titlecase}}
            </th>
            <td mat-cell class="table-cell-data" *matCellDef="let item">
              <ng-container *ngIf="col === 'available_in_portal'; else plainText">
                <ng-template *ngTemplateOutlet="availableTemplate; context: { $implicit: item }">
                </ng-template>
              </ng-container>
              <ng-template #plainText>
                {{item[col]}}
              </ng-template>
            </td>
          </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
        [pageSize]=10
      ></mat-paginator>
    </div>
  </div>
</div>


<ng-template #availableTemplate let-item>
  <td *ngIf="isAvailable(item['available_in_portal'])" [ngClass]="availableClass(item['available_in_portal'])">
    <i class="material-icons">check_circle</i>
  </td>
  <td *ngIf="!isAvailable(item['available_in_portal'])" [ngClass]="availableClass(item['available_in_portal'])">
    <i class="material-icons">highlight_off</i>
  </td>
</ng-template>


