<div [ngStyle]="{'display': data.length > 0 ? 'block' : 'none'}" style="width: 100%; overflow-x: scroll;">
  <hr>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
    <h3>Submitted {{dataType|titlecase}}</h3>
  </div>

  <div class="search-element" fxLayoutGap="2%">
    <div class="select-search-element">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [formControl]="availabilityFilter">
        <mat-button-toggle value="">All Entries <span class="countEntries">({{data.length}})</span></mat-button-toggle>
        <mat-button-toggle value="true">Available <span class="countEntries">
          ({{countEntriesAvailability('true')}})</span></mat-button-toggle>
        <mat-button-toggle value="false">Not available <span class="countEntries">
          ({{countEntriesAvailability('false')}})</span></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="input-search-element">
      <mat-form-field style="width: 100%;">
        <mat-label>Search</mat-label>
        <input [formControl]="inputSearchFilter" matInput
               placeholder="Search">
      </mat-form-field>
    </div>
  </div>

  <div class="table-responsive">
    <div>
      <table mat-table matSort matSortDisableClear
             [dataSource]="dataSource.data.length > 0 ? dataSource : emptyData"
             table-striped style="width: 100%">
        <ng-container [matColumnDef]=col *ngFor="let col of displayedColumns; let i = index">
          <ng-container>
            <th mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>
              {{col.split('_').join(' ')|titlecase}}
            </th>
            <td mat-cell class="table-cell-data" *matCellDef="let item">
              <ng-container *ngIf="col === 'available_in_portal'; else plainText">
                <ng-template *ngTemplateOutlet="availableTemplate; context: { $implicit: item }">
                </ng-template>
              </ng-container>
              <ng-template #plainText>
                {{item[col]}}
              </ng-template>
            </td>
          </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
        [pageSize]=10
      ></mat-paginator>
    </div>
  </div>
</div>


<ng-template #availableTemplate let-item>
  <td *ngIf="isAvailable(item['available_in_portal'])" [ngClass]="availableClass(item['available_in_portal'])">
    <i class="material-icons">check_circle</i>
  </td>
  <td *ngIf="!isAvailable(item['available_in_portal'])" [ngClass]="availableClass(item['available_in_portal'])">
    <i class="material-icons">highlight_off</i>
  </td>
</ng-template>


