<mat-form-field style="width: 100%; margin-top: 10px;">
  <mat-label>Search</mat-label>
  <input (keyup)="searchChanged($event)" matInput
         placeholder="Search">
</mat-form-field>
<table mat-table matSort [dataSource]="dataSource" table-striped style="width: 100%">
  <ng-container [matColumnDef]=col *ngFor="let col of display_fields; let i = index">
    <th mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header> {{column_names[i]}} </th>
    <td mat-cell *matCellDef="let item" class="table-cell-data" style="padding-right: 5px; max-width: 150px">

      <ng-container *ngIf="col === 'studyId'; else noColLink">
        <a style="cursor: pointer" target="_blank" [routerLink]="item[col]">{{item[col]}}</a>
      </ng-container>

      <ng-template #noColLink>
        <ng-container *ngIf="col === 'availableInPortal'">
          <ng-template *ngTemplateOutlet="availableTemplate; context: { $implicit: item }">
          </ng-template>
        </ng-container>

        <ng-container *ngIf="col === 'subscribe'">
          <div>
            <button mat-icon-button (click)="openSubscriptionDialog(item['studyId'])">
              <mat-icon class="subscription-icon">email</mat-icon>
            </button>
          </div>
        </ng-container>

        <ng-container *ngIf="col === 'studyAlias'">
          <span *ngIf="(item[col] + '').length > 20" [matTooltip]="item[col]">
            {{truncate(item[col], 20, true)}}
          </span>
          <span *ngIf="(item[col] + '').length < 20"> {{item[col]}}</span>
        </ng-container>

        <ng-container *ngIf="col !== 'availableInPortal' && col !== 'subscribe' && col !== 'studyAlias'">
          {{item[col]}}
        </ng-container>

      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="display_fields"></tr>
  <tr mat-row *matRowDef="let row; columns: display_fields;"></tr>
</table>
<mat-paginator pageSize="25" [length]="totalHits"></mat-paginator>


<div fxLayout="row" [ngClass]="subscription_status == 'success' ? 'alert alert-success' : 'alert alert-warning'" *ngIf="submission_message">
  <div fxFlex="100">
    {{submission_message}}
  </div>
</div>

<ng-template #availableTemplate let-item>
  <td *ngIf="isAvailable(item['availableInPortal'])" [ngClass]="availableClass(item['availableInPortal'])">
    <i class="material-icons">check_circle</i>
  </td>
  <td *ngIf="!isAvailable(item['availableInPortal'])" [ngClass]="availableClass(item['availableInPortal'])">
    <i class="material-icons">highlight_off</i>
  </td>
</ng-template>


<ng-template let-data #subscriptionTemplate>
  <h3 mat-dialog-title>Subscribing to Study Id '{{data.studyId}}'</h3>
  <div mat-dialog-content class="centerContents">
    <form [formGroup]="subscriptionForm" novalidate>
    <p>
      <mat-form-field appearance="fill" [style.width.%]="100">
        <input matInput [(ngModel)]="data.email" placeholder="Enter email" formControlName="subscriberEmail" id="subscriberEmail">
        <mat-hint align="end">Enter a valid email address.</mat-hint>
        <mat-error *ngIf="displayError('subscriberEmail', 'required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="displayError('subscriberEmail', 'email')">
          Please enter a valid email
        </mat-error>
      </mat-form-field>
    </p>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelDialog()">Cancel</button>
    <button mat-button (click)="onRegister(data)" cdkFocusInitial>Register</button>

  </div>
</ng-template>


