<mat-card *ngIf="aggregation.length !== 0">
  <h6 class="filter-header item">
    {{title}}
    <i class="material-icons float-right" *ngIf="aggregation?.length > filterSize && isCollapsed" (click)="toggleCollapse()">add</i>
    <i class="material-icons float-right" *ngIf="aggregation?.length > filterSize && !isCollapsed" (click)="toggleCollapse()">remove</i>
  </h6>
  <div [ngClass]="{'long-list': itemLimit > filterSize}">
    <ng-container *ngFor="let aggr of aggregation; let i = index">
      <div class="d-flex justify-content-between align-items-center item"
           *ngIf="i<itemLimit && aggr[0] != ''"
           [ngClass]="{'active': aggregationService.currentActiveFilters && aggregationService.currentActiveFilters.indexOf(aggr[0])>-1}"
           (click)="onButtonClick(aggr[0], title)">
        {{aggr[0]}}
        <span class="badge badge-secondary badge-pill">{{aggr[1]}}</span>
      </div>
    </ng-container>
  </div>
</mat-card>
