<div class="container-fluid">
  <h2>ENA Submissions</h2>
  <hr>

  <div fxLayoutGap="2%" fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex="17">
      <app-filter title="Assay type" [filterSize]=50></app-filter>
    </div>

    <div fxFlex="83" class="table-responsive">
      <div *ngIf="hasActiveFilters()">
        <app-active-filter *ngIf="hasActiveFilters()"></app-active-filter>
        <button mat-raised-button (click)="removeFilter()">Remove all filters</button>
        <hr>
      </div>

      <app-table-server-side  [display_fields]="displayFields"
                              [column_names]="columnNames"
                              [filter_values]="filter_field"
                              [apiFunction]="loadTableDataFunction"
                              [query]="query"
                              [defaultSort]="defaultSort">
      </app-table-server-side>
    </div>
  </div>
</div>


